<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my-mf</title>
</head>
<body>
    <div class="container">
        <h1>支払い作成</h1>
        <form id="expense-form" onsubmit="submitExpense(event)">
            <label for="expense-amount">Amount:</label>
            <input type="number" id="expense-amount" name="expense-amount">
            <label for="expense-category">Category:</label>
            <select name="expense-category" id="expense-category" required>
                <!-- Options will be populated by JavaScript -->
            </select>
            <button type="submit">Submit Expense</button>
        </form>
        <a href="/category">Go to Category Page</a>
    </div>
    <script>
        async function fetchCategories() {
            const res = await fetch('/category/get-all');
            if (res.ok) {
                const categories = await res.json();
                const categorySelect = document.getElementById('expense-category');
                categorySelect.innerHTML = ''; // 今のカテゴリ削除
                categories.forEach(category => {
                    const option = document.createElement('option');
                    option.value = category.uuid;
                    option.textContent = category.name;
                    categorySelect.appendChild(option);
                });
            } else {
                alert('failed to fetch categories');
            }
        }
        async function submitExpense(event) {
            event.preventDefault();
            const amount = document.getElementById('expense-amount').value;
            const categoryID = document.getElementById('expense-category').value;

            const res = await fetch('/expense/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ amount, category_id: categoryID })
            });

            if (!response.ok) {
                alert('Failed to submit expense')
            }
        }
        window.onload = fetchCategories;
    </script>
</body>
</html>