<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my-mf</title>
</head>
<body>
    <div class="container">
        <h1>支払い作成</h1>
        <form id="expense-form" onsubmit="submitExpense(event)">
            <label for="expense-title">Title:</label>
            <input type="text" id="expense-title" name="expense-title" required>
            <label for="expense-amount">Amount:</label>
            <input type="number" id="expense-amount" name="expense-amount">
            <button type="submit">Submit Expense</button>
        </form>
        <a href="/category">Go to Category Page</a>
    </div>
    <script>
        async function submitExpense(event) {
            event.preventDefault();
            const title = document.getElementById('expense-title').value;
            const amount = document.getElementById('expense-amount').value;

            const res = await fetch('/expense/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ title, amount })
            })

            if (!response.ok) {
                alert('Failed to submit expense')
            }
        }
    </script>
</body>
</html>